<footer>
  <p>
    Built by
    <a
      class="footer-link"
      href="https://github.com/Ahmed-Mohadin/"
      target="_blank"
      >Ahmed Mohadin</a
    >
    |
    <a
      class="footer-link"
      href="https://github.com/Ahmed-Mohadin/mini-message-board"
      target="_blank"
      >Source</a
    >
  </p>
</footer>
